In [1]:
# Import pandas.
import pandas as pd

In [2]:
# Create a DataFrame with balance.txt.
df = pd.read_csv('balance.txt', sep=" ")
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [6]:
# Comparing average income based on ethnicity.
print("\nAverage Income based on Ethnicity")
df.groupby('Ethnicity')['Income'].mean()

Average Income based on Ethnicity

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [10]:
# Higher balance according to marital status.
print("\nHigher balance  according to marital status")
df.groupby('Married')['Balance'].mean().sort_values(ascending=False)

Higher balance  according to marital status

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [12]:
# Highest income of the data set.
print("\nHighest income:", df['Income'].max())

Highest income: 186.634

In [13]:
# Lowest income of the data set.
print("\nLowest income:", df['Income'].min())

Lowest income: 10.354

In [15]:
# Sum of the cards.
print("\nSum of cards:", df['Cards'].sum())

Sum of cards: 1183

In [16]:
# Female Vs Male count.
print("Female Vs Male count")
df.groupby('Gender')['Gender'].count()

Female Vs Male count

Gender
Female    207
Male      193
Name: Gender, dtype: int64

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).